body{
  background: #F8C471;
}
.parent
{
  width:100%;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
}
.carrer,.skills{
  background: #AED6F1;
  width:90%;
  border: 2px solid black;
  margin: 2%;
  padding: 2%;
  text-align: center;
}
.details
{
  background: #AED6F1;
  width:40%;
  border: 2px solid black;
  margin: 2%;
  text-align: center;
  padding: 2%;
}
#button
{
  font-weight: bold;
  border: 2px solid black;
  font-size: 20px;
  margin: 2%;
}
input,select{
  width:80%;
}
